// 중첩기능
.container {
    >ul {
        li {
            font-size: 40px;
            .name {
                color: royalblue;
            }
            .age {
                color: orange;
            }
        }
    }
}

// & - 상위 선택자 참조
.btn {
    position: absolute;
    &.active {
        color: red;
    }
}

.list {
    li {
        &:last-child {
            margin-right: 0;
        }
    }
}

.fs {
    &-small {
        font-size: 12px;
    }
    &-medium {
        font-size: 14px;
    }
    &-large {
        font-size: 16px;
    }
}

// 중첩된 속성
.box {
    font: {
        weight: bold;
        size: 10px;
        family: sans-serif;
    }
    ;
    margin: {
        top: 10px;
        left: 20px;
    }
    ;
    padding: {
        top: 10px;
        bottom: 40px;
        left: 20px;
        right: 30px;
    }
    ;
}

// 변수(Variables)
$size: 200px; // 전역변수 (전체 영역에서 시용 가능)
.container {
    $size: 100px;
    position: fixed;
    top: $size;
    .item {
        $size: 50px;
        width: $size;
        height: $size;
        transform: translateX($size);
    }
    left: $size; // 범위는 .container 안이여서 100px일것 같지만 .item에서는 값이 이미 다시 재할당 되었기 때문에 50px이 나온다.
}

.box {
    width: $size;
}